.ghost-animation {
 transform: translatey(0);
 animation: float 4s ease-in-out infinite;
}

.search-input::placeholder {
 color: black;
}

@keyframes float {
 0% {
  transform: translatey(0);
 }

 50% {
  transform: translatey(-20px);
 }

 100% {
  transform: translatey(0);
 }
}